ion-content ion-toolbar {
  --background: translucent;
    text-align:center;
}

.main-button{
  margin-top:25px;
  background-color: rgb(13, 52, 95) !important;
}

ion-button{
  background-color:rgb(13, 52, 95)  !important;
}


