<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Meet <ion-icon name="beer-outline"></ion-icon> Greet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Friend Name:
        </ion-label>
        <ion-input [(ngModel)]="friend.name" name="name">
        </ion-input>
      </ion-item>

      <ion-button (click)="onSave()" class="main-button" expand="block" color="primary">Add new friend </ion-button>


    </ion-card-content>
  </ion-card>

  <!-- list -->
  <ion-list>
    <ion-item *ngFor="let friend of myFriends">
      <ion-icon name="person-outline"></ion-icon>{{friend.name}}
    </ion-item>
  </ion-list>